<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center; margin-top: 10rem; font-size: 2rem">
      Welcome to our secondary server
    </div>
    <div style="text-align: center; margin-top: 3rem; font-size: 1.2rem">
      This server is used to handle chat logic and real time location tracking
      features on web and mobile
    </div>
  </body>
</html>
